{{! Optional: include in breadcrumbs as {{> edit-breadcrumb}}. Prefer page.editUrl (https) so VCS icon logic matches; file: only when no edit URL. }}
{{#if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
    <li class="adt-breadcrumb-edit" role="presentation">
      <a class="adt-edit-inline-link" href="{{page.editUrl}}" title="Edit this page" aria-label="Edit this page">
        <img class="adt-vcs-icon-img adt-edit-vcs-img" src="{{{uiRootPath}}}/img/vcs/github.svg" width="16" height="16" alt="" />
        <span class="adt-edit-inline-text">Edit</span>
      </a>
    </li>
{{else if (and page.fileUri (not env.CI))}}
    <li class="adt-breadcrumb-edit" role="presentation">
      <a class="adt-edit-inline-link" href="{{page.fileUri}}" title="Edit this page" aria-label="Edit this page">
        <img class="adt-vcs-icon-img adt-edit-vcs-img" src="{{{uiRootPath}}}/img/vcs/code.svg" width="16" height="16" alt="" />
        <span class="adt-edit-inline-text">Edit</span>
      </a>
    </li>
{{/if}}
